<div class="container" ng-controller="funcionarioCtrl">
    <div class="pannel panel-info">
        <div class="pannel-heading">Listagem de Funcionários</div>

        <table class="table table-bordered">
            <thead style="background-color:burlywood">
                <tr>
                    <th>Id Funcionario</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Departamento</th>
                    <th>Cargo</th>
                    <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="func in Funcionarios">
                    <td>{{func.Nome}}</td>
                    <td>{{func.Email}}</td>
                    <td>{{func.Departamento}}</td>
                    <td>{{func.Cargo}}</td>
                    <td style="width: 200px">
                        <a href="#" class="btn btn-info">Atualizar</a>
                        <a href="#" class="btn btn-danger">Excluir</a>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script src="~/SysAng/Funcionario/Module.js"></script>
    <script src="~/SysAng/Funcionario/Service.js"></script>
    <script src="~/SysAng/Funcionario/Controller.js"></script>
}